<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> IPFS Demo</title>
  </head>
  <body>
    <h1> Upload file to IPFS </h1>
    <form class="" action="/upload" method="post" enctype="multipart/form-data">
      <label>Filename</label>
      <input type="text" name="fileName">
      <br><br>
      <label>Upload file</label>
      <input type="file" name="file">
      <br>
      <input type="submit" value="Submit">

    </form>
  </body>
</html>
