<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IPFS Demo</title>
  </head>
  <body>
    <h1>File uploaded!</h1>
    <p>Name: <%= fileName %></p>
    <p>link: <a href="https://ipfs.io/ipfs/<%= fileHash %>"><%= fileHash %></a> </p>
  </body>
</html>
